/*
	Golden: 		1.61803399
	Super-golden: 	1.41421356
*/
html, body {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.ggs-guide {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.125em;
  margin-left: -0.75em;
  background: #fff;
  border: solid #000;
  border-width: 0 0.6875em;
}
.ggs-1-left {
  left: 61.80339882723972%;
}
.ggs-2-left {
  left: 38.19660106598855%;
}
.ggs-3-left {
  left: 23.606797695262603%;
}
.ggs-3-right {
  right: 23.606797695262603%;
}
.ggs-4-left {
  left: 14.58980332994278%;
}
.ggs-4-right {
  right: 14.58980332994278%;
}
.ggs-5-left {
  left: 9.016994340114438%;
}
.ggs-5-right {
  right: 9.016994340114438%;
}
.ggs-6-left {
  left: 5.572808974250559%;
}
.ggs-6-right {
  right: 5.572808974250559%;
}
