/*
*
*  Golden Grid System (1.01)    <http://goldengridsystem.com/>
*  by Joni Korpi                <http://jonikorpi.com/>
*  licensed under MIT           <http://opensource.org/licenses/mit-license.php>
*
*/


//
// Important numbers
//

$line      = 24
$column    = 100% / 18
$font-size = 16
$em        = $font-size * 1


//
// Functions for keeping code DRY
//
$emify( $arg )
  unit($arg, 'em')


$zoom-baseline-grid()
  body
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.0625em


$reset-baseline-grid()
  body
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em


$target-font-and-line( $target-font-px, $target-line-px )
  font-size:   $emify( $target-font-px / $em )
  line-height: $emify( $target-line-px / $target-font-px )

/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/

body
div
h1
h2
h3
h4
h5
h6
p
blockquote
pre
dl
dt
dd
ol
ul
li
fieldset
form
label
legend
th
td
article
aside
figure
footer
header
hgroup
menu
nav
section
  margin  0
  padding 0
  border  0



/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/

html
  height 100%
  for $pfx in '-webkit-' '-ms-'
    {$pfx}text-size-adjust @height

body
  min-height 100%
  font-size  @min-height

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video
  display block

sub, sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sup
  top -0.5em

sub
  bottom -0.25em

pre
  white-space pre
  white-space pre-wrap
  word-wrap break-word

b, strong
  font-weight bold

abbr[title]
  border-bottom 1px dotted

input, textarea, button, select
  margin 0
  font-size 100%
  line-height normal
  vertical-align baseline

button
html input[type="button"]
input[type="reset"]
input[type="submit"]
  cursor pointer
  -webkit-appearance button

input[type="checkbox"]
input[type="radio"]
  $prefixes = '-webkit-' '-moz-' '-o-' '-ms-' ''
  for $pfx in $prefixes
    {$pfx}box-sizing border-box

textarea
  overflow auto

table
    border-collapse collapse
    border-spacing 0



/*
*
*  Simple fluid media
*
*/

figure
  position relative

  img
  object
  embed
  video
    max-width 100%
    display block

img
  border 0
  -ms-interpolation-mode bicubic



/*
*
* Zoomable baseline grid
* type size presets
*
*/

body
  /* 16px / 24px */
  $target-font-and-line( 16, 24 )


.small
  /* 13px / 18px */
  $target-font-and-line( 13, 18 )


.normal, h3
  /* 16px / 24px */
  $target-font-and-line( 16, 24 )


.large, h2, h1
  /* 26 / 36px */
  $target-font-and-line( 26, 36 )


hude(n=1)
  /* 42px / 48px */
  $target-font-and-line( 42, 48 )

.huge
  hude()

.massive
  /* 68px / 72px */
  $target-font-and-line( 68, 72 )

.gigantic
  /* 110px / 120px */
  $target-font-and-line( 110, 120 )



/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

header, #twoway
  margin 0 $column


h1, h2
  margin $emify(24/26) 0 $emify(36/26)


h2
  font-weight normal


h3
  $v_margin = $emify(24/$em)
  margin $v_margin 0 $v_margin


/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.wrapper
  padding 0 $emify( ($line/2) / $em )
  for $pfx in '-webkit-' '-moz-' ''
    {$pfx}box-sizing border-box


/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body
  width $emify(640 / $em)
  margin 0 auto
  font-size $emify( ($font-size + 1) / $em )


.ie h1
  hude()
  margin $emify(48/42) 0 $emify(24/42)


/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em)

  $zoom-baseline-grid()


  h1
    hude()
    margin $emify(48/42) 0 $emify(24/42)





/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em)

  $reset-baseline-grid()


  #twoway .wrapper
    float left
    width 50%





/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em)

  $zoom-baseline-grid()




/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em)

  $reset-baseline-grid()


  header, #twoway
    margin 0 ($column * 3)





/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em)

  $zoom-baseline-grid()





/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em)

  $reset-baseline-grid()


  header, #twoway
    margin 0 ($column * 5)





/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em)

  $zoom-baseline-grid()





/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em)

  header, #twoway
    margin 0 $column //* 1


  header
    .wrapper
      width 37.5%
      margin-left 25%


  #twoway
    .wrapper
      width 25%

      &:first-child
        margin-left 25%





/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em)

  body
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size $emify( 18/16 )  // **NOTE** Don't use $zoom-baseline-grid(); It's a different ratio.
    max-width $emify( 2560/$em )

